@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

.fatface {
  font-family: "Abril Fatface", cursive;
}

.mouserat {
  font-family: "Montserrat", sans-serif;
}

.bg-color60 {
  background-color: #303841 !important;
}
.bg-color40 {
  background-color: #00adb5 !important;
}
.bg-color20 {
  background-color: #eeeeee !important;
}
.bg-color10 {
  background-color: #ff5722 !important;
}

.text-color60 {
  color: #303841 !important;
}
.text-color40 {
  color: #00adb5 !important;
}
.text-color20 {
  color: #eeeeee !important;
}
.text-color10 {
  color: #ff5722 !important;
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-bg {
  min-height: 95vh;
}
